html, body, #elm {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#elm {
    padding: 10px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
}

form > div {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 150px 1fr 10ch;
    column-gap: 10px;
}

form > div > label {
    flex-basis: 200px;
}

table {
    min-width: 800px;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
    background: #fff;
}

th {
    text-align: right;
}

td {
    text-align: right;
}

#results {
    overflow: auto;
    padding: 0 10px;
}